@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);
body {
  background: #fff;
  font-family: 'Open Sans', sans-serif;
  background-size: cover; }

.navbar-default {
  color: #fff;
  background: #a928db;
  border: none; }
  .navbar-default .navbar-header img {
    position: relative;
    top: -5px;
    width: 78px;
    height: 30px; }
  .navbar-default .navbar-nav li a {
    color: #fff !important;
    background: #a928db;
    text-transform: uppercase;
    -webkit-transition: background 0.5s;
    transition: background 0.5s;
    text-decoration: none  !important; }
    .navbar-default .navbar-nav li a:hover {
      text-decoration: none;
      color: #fff;
      background: #b559e0; }
  .navbar-default .navbar-toggle {
    border-color: #fff; }
    .navbar-default .navbar-toggle .icon-bar {
      background-color: #fff; }
      .navbar-default .navbar-toggle .icon-bar:hover {
        background-color: #3b434d; }
    .navbar-default .navbar-toggle:hover {
      background-color: #fff; }
      .navbar-default .navbar-toggle:hover .icon-bar {
        background-color: #3b434d; }
    .navbar-default .navbar-toggle:focus {
      background-color: #fff;
      border: none; }
      .navbar-default .navbar-toggle:focus .icon-bar {
        border: none;
        background-color: #3b434d; }

header {
  background-image: url("../img/header-bg.jpg");
  color: #fff;
  padding-top: 35px;
  padding-bottom: 70px;
  /* nav */ }
  header nav {
    margin-top: 18px;
    padding-left: 130px !important;
    line-height: 40px;
    /* ul */ }
    header nav ul {
      margin-right: -40px;
      list-style: none;
      /* li */ }
      header nav ul li {
        display: inline;
        /* a */ }
        header nav ul li a {
          font-size: 1.0em;
          color: #fff !important;
          padding: 8px 15px;
          text-transform: uppercase;
          text-decoration: none  !important;
          border-radius: 20px;
          -webkit-transition: background-color, 0.2s, ease-in-out;
          transition: background-color, 0.2s, ease-in-out; }
          header nav ul li a:hover {
            color: #fff;
            text-decoration: none;
            background: #a928db; }
  header .logo {
    right: -10px; }
  header .header-app {
    padding-top: 80px; }
  header .hello {
    padding-top: 60px; }
    header .hello h1 {
      font-size: 3.5em;
      font-weight: bold;
      text-shadow: 2px 2px 1px #624795; }
    header .hello p {
      font-size: 1.0em;
      line-height: 2.0em;
      padding-top: 40px; }
  header .phones {
    margin-left: -40px; }
  header .dlbtns {
    padding-top: 30px; }
  header .googleplay {
    margin-left: 35px; }
  header .download {
    margin-top: 70px;
    text-transform: uppercase; }
    header .download h2 {
      font-size: 2.0em;
      font-weight: bold; }

/* header */
.features {
  background-image: url("../img/features-bg.jpg");
  color: #3b434d; }
  .features h1 {
    text-align: center;
    font-size: 2.6em;
    font-weight: bold; }
  .features h3 {
    font-weight: bold;
    font-size: 1.5em; }
  .features p {
    padding-top: 10px;
    text-align: center; }
  .features .features-header {
    padding-top: 50px; }
  .features .features-icons {
    text-align: center;
    padding-bottom: 100px; }
    .features .features-icons p {
      text-align: justify;
      padding-top: 10px; }
    .features .features-icons h2 {
      text-align: center; }
    .features .features-icons img {
      padding-top: 80px; }

/* .features */
.checkout-wrap {
  background-image: url("../img/checkout-bg.jpg");
  color: #fff;
  height: 670px;
  /* .checkout */ }
  .checkout-wrap .checkout h4 {
    font-weight: bold;
    padding-bottom: 10px; }
  .checkout-wrap .checkout h2 {
    font-size: 3em;
    text-align: center;
    padding: 50px 50px; }
  .checkout-wrap .checkout img {
    padding-left: 30px;
    padding-top: 5px; }
  .checkout-wrap .checkout #phone-hand {
    position: relative;
    width: 100%; }
    @media (min-width: 992px) and (max-width: 1199px) {
      .checkout-wrap .checkout #phone-hand {
        top: 95px; } }

/* .checkout-wrap */
.screenshots-wrap {
  background-image: url("../img/screenshot-bg.jpg");
  text-align: center;
  /* .screenshots */ }
  .screenshots-wrap .screenshots {
    padding-bottom: 120px; }
    .screenshots-wrap .screenshots h2 {
      font-size: 3em;
      margin: 0;
      padding: 105px 40px;
      text-align: center; }
    .screenshots-wrap .screenshots #screenshot-slider-lg {
      text-align: center; }
    .screenshots-wrap .screenshots .lSSlideOuter .lSPager.lSpg > li a {
      background: transparent !important;
      border: 2px solid #a928db;
      border-radius: 50%;
      height: 12px;
      width: 12px; }
    .screenshots-wrap .screenshots .lSSlideOuter .lSPager.lSpg > li:hover a, .screenshots-wrap .screenshots .lSSlideOuter .lSPager.lSpg > li.active a {
      background-color: #a928db !important; }
    .screenshots-wrap .screenshots .lSpg {
      padding-top: 30px; }

/* .screenshots-wrap */
.testimonial-wrap {
  text-align: center;
  background-image: url("../img/testimonial-bg.jpg");
  /* .testimonial */ }
  .testimonial-wrap .testimonial {
    text-align: left;
    color: #fff;
    padding: 160px 0 80px 0;
    /* blockquote */ }
    .testimonial-wrap .testimonial h3 {
      font-size: 1.2em;
      font-weight: bold;
      margin-bottom: -15px; }
    .testimonial-wrap .testimonial blockquote {
      font-size: 1.2em;
      line-height: 30px;
      border: none; }
      .testimonial-wrap .testimonial blockquote p {
        margin-left: -20px; }
      .testimonial-wrap .testimonial blockquote .quote {
        position: relative;
        background: url("../img/olivia_quotes.png") no-repeat 0 0;
        left: -25px;
        width: 24px;
        height: 16px; }
      .testimonial-wrap .testimonial blockquote .backquote {
        background: url("../img/olivia_quotes.png") no-repeat 0 -16px;
        position: absolute;
        bottom: 60px;
        right: 30px;
        width: 24px;
        height: 16px; }
    .testimonial-wrap .testimonial .testimonial-name {
      position: relative;
      top: 10px; }
    .testimonial-wrap .testimonial #testimonial-slider {
      width: 100%;
      height: 100%; }
    .testimonial-wrap .testimonial .lSSlideOuter .lSPager.lSpg > li a {
      background: transparent !important;
      border: 2px solid #fff;
      border-radius: 50%;
      height: 12px;
      width: 12px; }
    .testimonial-wrap .testimonial .lSSlideOuter .lSPager.lSpg > li:hover a, .testimonial-wrap .testimonial .lSSlideOuter .lSPager.lSpg > li.active a {
      background-color: #fff !important; }
    .testimonial-wrap .testimonial .lSpg {
      padding-top: 80px; }

/* .testimonial-wrap */
.support-wrap {
  /* .support */ }
  .support-wrap .support {
    padding: 150px 0; }
    .support-wrap .support .support-header {
      text-align: center; }
      .support-wrap .support .support-header h2 {
        font-weight: bold;
        font-size: 3.5em;
        padding-bottom: 30px; }
      .support-wrap .support .support-header h3 {
        font-size: 1.7em;
        padding-bottom: 80px; }
      .support-wrap .support .support-header .support-email {
        padding-right: 20px; }
        .support-wrap .support .support-header .support-email a {
          text-decoration: none;
          color: #3b434d;
          -webkit-transition: color 400ms;
          transition: color 400ms; }
          .support-wrap .support .support-header .support-email a:hover {
            color: #a928db; }
      .support-wrap .support .support-header .support-phone {
        padding-left: 20px;
        color: #3b434d;
        -webkit-transition: color 400ms;
        transition: color 400ms; }
        .support-wrap .support .support-header .support-phone:hover {
          cursor: default;
          color: #a928db; }
    .support-wrap .support .support-top {
      margin-bottom: 60px; }
    .support-wrap .support .support-description:nth-child(odd) {
      text-align: right; }
    .support-wrap .support .support-description .support-name {
      font-weight: bold;
      margin-bottom: -5px; }
    .support-wrap .support .support-icons i {
      margin: 15px 6px; }
    .support-wrap .support .support-icons a {
      color: #3b434d;
      -webkit-transition: color 400ms;
      transition: color 400ms; }
      .support-wrap .support .support-icons a:hover {
        color: #a928db; }

/* .support-wrap */
.newsletter-wrap {
  background-image: url("../img/newsletter-bg.jpg");
  /* .newsletter */ }
  .newsletter-wrap .newsletter {
    margin-top: 80px;
    color: #fff;
    text-align: center;
    font-size: 1.2em;
    margin-bottom: 130px;
    /* .newsletter-subscribe */ }
    .newsletter-wrap .newsletter h2 {
      font-size: 3.0em;
      font-weight: bold;
      margin-bottom: 40px; }
    .newsletter-wrap .newsletter p {
      margin-bottom: 50px; }
    .newsletter-wrap .newsletter .newsletter-subscribe {
      color: #fff;
      text-align: center;
      /* .newsletter-email-input */ }
      .newsletter-wrap .newsletter .newsletter-subscribe .newsletter-email-input {
        position: relative;
        margin-left: 300px; }
        .newsletter-wrap .newsletter .newsletter-subscribe .newsletter-email-input .newsletter-email-icon {
          background: transparent url("../img/email.png") 0 0 no-repeat;
          position: absolute;
          width: 31px;
          height: 24px;
          left: 15px;
          top: 13px; }
        .newsletter-wrap .newsletter .newsletter-subscribe .newsletter-email-input .newsletter-email-box {
          position: relative;
          border: 2px solid #fff;
          border-radius: 4px;
          height: 50px;
          width: 350px; }
        .newsletter-wrap .newsletter .newsletter-subscribe .newsletter-email-input .newsletter-input {
          position: absolute;
          border: none;
          background: transparent;
          left: 55px;
          top: 12px;
          width: 290px;
          -webkit-transition: opacity 0.3s;
          transition: opacity 0.3s; }
          .newsletter-wrap .newsletter .newsletter-subscribe .newsletter-email-input .newsletter-input::-webkit-input-placeholder {
            /* Chrome */
            color: #fff;
            -webkit-transition: opacity 0.3s;
            transition: opacity 0.3s; }
          .newsletter-wrap .newsletter .newsletter-subscribe .newsletter-email-input .newsletter-input:focus::-webkit-input-placeholder {
            /* Chrome */
            opacity: 0.2; }
          .newsletter-wrap .newsletter .newsletter-subscribe .newsletter-email-input .newsletter-input:-ms-input-placeholder {
            /* IE 10+ */
            color: #fff;
            -webkit-transition: opacity 0.3s;
            transition: opacity 0.3s; }
          .newsletter-wrap .newsletter .newsletter-subscribe .newsletter-email-input .newsletter-input:focus:-ms-input-placeholder {
            /* IE 10+ */
            opacity: 0.2; }
          .newsletter-wrap .newsletter .newsletter-subscribe .newsletter-email-input .newsletter-input:-moz-placeholder {
            /* Firefox 4 - 18 */
            color: #fff;
            -webkit-transition: opacity 0.3s;
            transition: opacity 0.3s;
            opacity: 1; }
          .newsletter-wrap .newsletter .newsletter-subscribe .newsletter-email-input .newsletter-input:focus:-moz-placeholder {
            /* Firefox 4 - 18 */
            opacity: 0.2; }
          .newsletter-wrap .newsletter .newsletter-subscribe .newsletter-email-input .newsletter-input::-moz-placeholder {
            /* Firefox 19+ */
            color: #fff;
            -webkit-transition: opacity 0.3s;
            transition: opacity 0.3s; }
          .newsletter-wrap .newsletter .newsletter-subscribe .newsletter-email-input .newsletter-input:focus::-moz-placeholder {
            /* Firefox 19+ */
            opacity: 1; }
          .newsletter-wrap .newsletter .newsletter-subscribe .newsletter-email-input .newsletter-input:hover, .newsletter-wrap .newsletter .newsletter-subscribe .newsletter-email-input .newsletter-input:focus {
            outline: none; }
        .newsletter-wrap .newsletter .newsletter-subscribe .newsletter-email-input .newsletter-button {
          position: absolute;
          top: 0px;
          left: 360px;
          font-size: 0.9em;
          font-weight: bold;
          color: #fff;
          background: #a928db;
          border-radius: 4px;
          border: none;
          height: 50px;
          width: 140px;
          -webkit-transition: background-color 0.5s;
          transition: background-color 0.5s; }
          .newsletter-wrap .newsletter .newsletter-subscribe .newsletter-email-input .newsletter-button:hover, .newsletter-wrap .newsletter .newsletter-subscribe .newsletter-email-input .newsletter-button:focus {
            outline: none; }
          .newsletter-wrap .newsletter .newsletter-subscribe .newsletter-email-input .newsletter-button:hover {
            background-color: #b559e0; }

/* .newsletter-wrap */
.blog-wrap {
  background-image: url("../img/blog-bg.jpg");
  height: 100%;
  padding-bottom: 50px;
  /* .blog */ }
  .blog-wrap .blog {
    /* .blog-entry */ }
    .blog-wrap .blog #blog-slider {
      color: #3b434d; }
    .blog-wrap .blog .lSSlideOuter .lSPager.lSpg > li a {
      background: transparent !important;
      border: 2px solid #a928db;
      border-radius: 50%;
      height: 12px;
      width: 12px; }
    .blog-wrap .blog .lSSlideOuter .lSPager.lSpg > li:hover a, .blog-wrap .blog .lSSlideOuter .lSPager.lSpg > li.active a {
      background-color: #a928db !important; }
    .blog-wrap .blog .lSpg {
      padding-top: 30px; }
    .blog-wrap .blog h2 {
      text-align: center;
      font-size: 60px;
      padding: 60px 0; }
    .blog-wrap .blog .blog-entry {
      height: 150px; }
      .blog-wrap .blog .blog-entry .blog-header {
        position: absolute;
        width: 65px;
        height: 110px;
        background: #b559e0;
        color: #fff;
        text-align: center;
        -webkit-transition: background 0.5s;
        transition: background 0.5s; }
        .blog-wrap .blog .blog-entry .blog-header .header-d {
          text-align: center;
          font-size: 40px;
          font-weight: bold; }
        .blog-wrap .blog .blog-entry .blog-header .header-m, .blog-wrap .blog .blog-entry .blog-header .header-y {
          font-size: 15px; }
        .blog-wrap .blog .blog-entry .blog-header .tick {
          position: absolute;
          top: 20px;
          left: 65px;
          width: 0;
          height: 0;
          border-top: 10px solid transparent;
          border-bottom: 10px solid transparent;
          border-left: 10px solid #b559e0;
          -webkit-transition: border-left-color 0.5s;
          transition: border-left-color 0.5s; }
      .blog-wrap .blog .blog-entry .blog-body {
        position: relative;
        padding-right: 50px !important;
        left: 100px;
        color: #3b434d; }
        .blog-wrap .blog .blog-entry .blog-body h3 {
          font-size: 16px;
          text-transform: uppercase;
          font-weight: bold; }
        .blog-wrap .blog .blog-entry .blog-body a {
          color: #3b434d;
          -webkit-transition: color 0.5s;
          transition: color 0.5s;
          text-decoration: none; }
          .blog-wrap .blog .blog-entry .blog-body a i {
            padding-right: 10px; }
          .blog-wrap .blog .blog-entry .blog-body a:hover {
            color: #b559e0;
            text-decoration: none; }
      .blog-wrap .blog .blog-entry:hover .tick {
        border-left-color: #1e90ff; }
      .blog-wrap .blog .blog-entry:hover .blog-header {
        background: #1e90ff; }

/* .blog-wrap */
footer {
  background-image: url("../img/footer-bg.jpg");
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  text-align: center;
  /* .footer-links */ }
  footer h2 {
    font-size: 40px;
    font-weight: bold;
    padding-top: 80px;
    padding-bottom: 20px; }
  footer .text {
    position: relative;
    /* left: 100px; */
    width: 80%;
    margin: 0 auto; }
    footer .text p {
      margin-bottom: 40px; }
  footer input {
    position: relative;
    left: 5px;
    margin-bottom: 15px;
    margin-right: 10px;
    padding-left: 15px;
    color: #3b434d;
    border: none;
    line-height: 35px;
    width: 208px; }
    footer input:last-child {
      margin-right: 0px; }
    footer input::-webkit-input-placeholder {
      color: #000; }
    footer input::-moz-placeholder {
      color: #000; }
    footer input:-ms-input-placeholder {
      color: #000; }
    footer input::placeholder {
      color: #000; }
  footer textarea {
    padding-left: 15px;
    padding-top: 5px;
    width: 880px;
    color: #000; }
    footer textarea::-webkit-input-placeholder {
      color: #000; }
    footer textarea::-moz-placeholder {
      color: #000; }
    footer textarea:-ms-input-placeholder {
      color: #000; }
    footer textarea::placeholder {
      color: #000; }
  footer button {
    position: relative;
    top: -25px;
    background: #a928db;
    border: none;
    width: 400px;
    height: 35px;
    font-weight: bold;
    -webkit-transition: background 0.5s;
    transition: background 0.5s; }
    footer button:hover {
      background: #b559e0; }
  footer a .footer-icon {
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 25px;
    margin-right: 20px;
    background: none;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    -webkit-transition: background 0.5s;
    transition: background 0.5s; }
  footer a:hover {
    text-decoration: none; }
    footer a:hover .footer-icon {
      background: #a928db; }
  footer a i {
    position: relative;
    top: 15px;
    color: #fff; }
  footer .footer-links {
    margin-bottom: 30px;
    /* ul */ }
    footer .footer-links ul {
      list-style: none;
      /* li */ }
      footer .footer-links ul li {
        display: inline;
        margin: 0 5px;
        font-size: 14px;
        font-weight: bold;
        /* a */ }
        footer .footer-links ul li a {
          color: #fff; }
          footer .footer-links ul li a:hover {
            text-decoration: none; }

/* footer */
/* Styles for Bootstrap's xs and sm (>991px) breakpoints */
@media (max-width: 991px) {
  .header-app {
    padding-top: 0 !important; }
  header {
    padding: 80px 0;
    text-align: center; }
    header .phones {
      margin: 0 auto;
      width: 50%; }
    header .hello {
      padding-top: 10px; }
      header .hello h1 {
        font-size: 2.5em; }
      header .hello p {
        padding-top: 30px; }
    header .download {
      margin-top: 100px; }
    header .dlbtns {
      padding-top: 10px; }
    header .appstore, header .googleplay {
      margin-top: 10px;
      margin-left: 10px; }
  /* header */
  .features {
    background-size: cover;
    /* .features-clickies */
    /* .features-icons */ }
    .features .features-clickies {
      padding-bottom: 0px;
      text-align: center; }
      .features .features-clickies .clickies-contactlist, .features .features-clickies .clickies-music, .features .features-clickies .clickies-gallery {
        margin: 10px 0; }
    .features .features-icons img {
      width: 20%;
      padding-top: 20px !important; }
  /* .features */
  .checkout-wrap {
    height: 100%;
    /* .checkout */ }
    .checkout-wrap .checkout {
      padding-bottom: 60px; }
      .checkout-wrap .checkout h2 {
        padding: 50px 0; }
      .checkout-wrap .checkout img {
        padding-left: 10px  !important; }
  /* .checkout-wrap */
  .screenshots #screenshot-slider-sm {
    text-align: center; }
  .screenshots h2 {
    position: relative;
    left: -15px;
    padding: 60px 0px  !important; }
  /* .screenshots */
  .testimonial {
    padding: 60px 0 80px 0  !important; }
    .testimonial img {
      margin: 0 auto; }
    .testimonial .testimonial-name {
      top: -15px !important;
      text-align: center; }
    .testimonial blockquote p {
      margin-left: 0 !important; }
  /* .testimonial */
  .support {
    padding: 30px 0 !important; }
    .support h2 {
      font-size: 2.5em  !important; }
    .support h3 {
      padding-bottom: 30px !important; }
  /* .support */
  .newsletter-wrap {
    background-size: cover; }
    .newsletter-wrap .newsletter-email-box {
      width: 70% !important; }
    .newsletter-wrap .newsletter-email-input {
      margin: 0 auto !important; }
      .newsletter-wrap .newsletter-email-input .newsletter-button {
        position: relative;
        left: 72%  !important; }
  /* .newsletter-wrap */
  .blog-wrap {
    background-size: cover; }
    .blog-wrap .blog-entry {
      width: 100%  !important; }
  /* .blog-wrap */
  footer .text {
    width: 100%; }
  footer input {
    left: 0;
    width: 100%; }
  footer textarea {
    width: 100%; }
  /* footer */ }

/* col-xs-sm */
